<div id="video-popup">
  <div id="video-container">
    <div id="close-button">&times;</div>
    <iframe id="youtube-player" src="https://www.youtube.com/embed/XqNCuCQ12SA?autoplay=0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<section id="hero">
  <div class="container-fluid h-100">
    <div class="left">
      <h5>selamat datang</h5>
      <h1>
        HIMPUNAN <br />
        <span>MAHASISWA JURUSAN</span> TEKNOLOGI INFORMASI
      </h1>
      <div class="typing-container" id="typing"></div>
      <div class="left-down">
        <a href="" class="btn"
          >DISCOVER MORE
          <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.835 6.0066L7.8366 6.3607C7.8487 7.7652 7.9334 9.0183 8.0794 9.8124C8.0794 9.8267 8.2387 10.6143 8.3401 10.8764C8.4994 11.2554 8.7874 11.577 9.1485 11.7808C9.4376 11.9262 9.7408 12 10.0583 12C10.3078 11.9884 10.7194 11.8629 11.0131 11.7576L11.2572 11.664C12.8739 11.0218 15.9644 8.9234 17.148 7.6402L17.2353 7.5505L17.6247 7.1302C17.8702 6.8085 18 6.4153 18 5.9923C18 5.6134 17.8844 5.2344 17.6531 4.9282C17.5839 4.829 17.4723 4.7017 17.3731 4.5942L16.994 4.1974C15.6895 2.87572 12.8652 1.02183 11.4012 0.40756C11.4012 0.39435 10.4914 0.01432 10.0583 0H10.0005C9.3361 0 8.7154 0.37892 8.3979 0.99137C8.3112 1.1588 8.228 1.48678 8.1648 1.77483L8.051 2.31871C7.9212 3.19332 7.835 4.535 7.835 6.0066ZM1.50325 4.4817C0.67308 4.4817 0 5.1613 0 5.9996C0 6.8378 0.67308 7.5175 1.50325 7.5175L5.20248 7.1903C5.85375 7.1903 6.38174 6.6583 6.38174 5.9996C6.38174 5.3419 5.85375 4.8088 5.20248 4.8088L1.50325 4.4817Z"
              fill="white" />
          </svg>
        </a>
        <a href="" class="play-button" id="play-button">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0 20.0116C0 8.9725 8.97684 0 20 0C31.0232 0 40 8.9725 40 20.0116C40 31.0274 31.0232 40 20 40C8.97684 40 0 31.0274 0 20.0116ZM27.336 22.0356C27.5482 21.8234 27.8186 21.4954 27.8764 21.4182C28.1854 21.013 28.3398 20.5114 28.3398 20.0116C28.3398 19.45 28.166 18.929 27.8378 18.5046C27.811 18.4776 27.7582 18.4204 27.6896 18.3456C27.5612 18.206 27.377 18.0052 27.2008 17.8292C25.6178 16.1312 21.4864 13.3526 19.3244 12.5036C18.9962 12.3705 18.166 12.0791 17.722 12.0598C17.2972 12.0598 16.8918 12.1563 16.5058 12.3493C16.0232 12.6194 15.6371 13.0439 15.4247 13.5456C15.2896 13.8929 15.0772 14.9349 15.0772 14.9542C14.8649 16.0926 14.749 17.945 14.749 19.9904C14.749 21.9412 14.8649 23.7144 15.0386 24.8722C15.0434 24.877 15.06 24.9598 15.0858 25.0884C15.1642 25.4794 15.3276 26.2942 15.5019 26.628C15.9266 27.4384 16.7568 27.9402 17.6448 27.9402H17.722C18.3012 27.9208 19.5174 27.4192 19.5174 27.4C21.5638 26.5508 25.5984 23.9074 27.22 22.1514L27.336 22.0356Z"
              fill="#4A5FD3" />
          </svg>
        </a>
      </div>
    </div>
    <div class="right">
      <img src="/img/hero-image.png" alt="" />
      <div class="floating-icons">
        <img src="/img/icon/buku.png" alt="book" class="icon book" />
        <img src="/img/icon/catatan.png" alt="document" class="icon document" />
        <img src="/img/salaman.png" alt="handshake" class="icon handshake" />
        <img src="/img/icon/keranjang.png" alt="cart" class="icon cart" />
        <img src="/img/icon/global.png" alt="globe" class="icon globe" />
      </div>
      <div class="kahim">
        <h4>Ketua Himpunan</h4>
        <p>Tiara Agustina Putri Wulandari</p>
      </div>
      <div class="wakahim">
        <h4>Wakil Ketua</h4>
        <p>Achmad Sofyan Hakiki</p>
      </div>
    </div>
  </div>
</section>

<section id="vision">
  <div class="container-fluid">
    <div class="vision-image animate-right">
      <img src="/img/pengurus-hmjti.png " alt="" />
    </div>
    <div class="vision-description">
      <h2 class="animate-bottom delay-1">Our Vision</h2>
      <p class="animate-bottom delay-2">
        Membangun HMJ TI Politeknik Negeri Jember sebagai wadah yang menjunjung jiwa sosial dan kekeluargaan untuk mendukung pengembangan akademik serta non-akademik mahasiswa guna menciptakan lingkungan inklusif dan kolaboratif yang
        mengakomodasi potensi mahasiswa Teknologi Informasi dalam prestasi, keterampilan, dan pengabdian masyarakat, untuk mewujudkan mahasiswa berintegritas, kompeten, dan berdaya saing tinggi
      </p>
      <a href="/about" class="btn animate-bottom delay-3"
        >READ MORE
        <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M7.835 6.0066L7.8366 6.3607C7.8487 7.7652 7.9334 9.0183 8.0794 9.8124C8.0794 9.8267 8.2387 10.6143 8.3401 10.8764C8.4994 11.2554 8.7874 11.577 9.1485 11.7808C9.4376 11.9262 9.7408 12 10.0583 12C10.3078 11.9884 10.7194 11.8629 11.0131 11.7576L11.2572 11.664C12.8739 11.0218 15.9644 8.9234 17.148 7.6402L17.2353 7.5505L17.6247 7.1302C17.8702 6.8085 18 6.4153 18 5.9923C18 5.6134 17.8844 5.2344 17.6531 4.9282C17.5839 4.829 17.4723 4.7017 17.3731 4.5942L16.994 4.1974C15.6895 2.87572 12.8652 1.02183 11.4012 0.40756C11.4012 0.39435 10.4914 0.01432 10.0583 0H10.0005C9.3361 0 8.7154 0.37892 8.3979 0.99137C8.3112 1.1588 8.228 1.48678 8.1648 1.77483L8.051 2.31871C7.9212 3.19332 7.835 4.535 7.835 6.0066ZM1.50325 4.4817C0.67308 4.4817 0 5.1613 0 5.9996C0 6.8378 0.67308 7.5175 1.50325 7.5175L5.20248 7.1903C5.85375 7.1903 6.38174 6.6583 6.38174 5.9996C6.38174 5.3419 5.85375 4.8088 5.20248 4.8088L1.50325 4.4817Z"
            fill="white" />
        </svg>
      </a>
    </div>
  </div>
</section>

<section id="program">
  <div class="container-fluid">
    <h2>Our Program</h2>
    <div class="program-card">
      <% let program=5; let deskripsi; let icon; for (let index=1; index <=program; index++) { if (index==1) { deskripsi='Pengembangan Minat' ; icon='/img/icon/Pengembangan-minat.svg' ; }else if (index==2){ deskripsi='Peningkatan Kompetisi'
      ; icon='/img/icon/Peningkatan-Kompetensi.svg' ; }else if (index==3){ deskripsi='Technopreneurship Mahasiswa' ; icon='/img/icon/Technopreneurship-Mahasiswa.svg' ; }else if (index==4){ deskripsi='Ekspansi Jaringan' ;
      icon='/img/icon/Ekspansi-Jaringan.svg' ; }else{ deskripsi='Penguatan Organisasi' ; icon='/img/icon/Penguatan-Organisasi.svg' ; }%>
      <div
        class="cardarea"
        data-hover-text="<%= 
                (index == 1) ? 
    'Mewadahi minat dan keterampilan mahasiswa dibidang akademik maupun non akademik yang dimana kita nantinya akan mendukung dan membantu mahasiswa JTI dalam mengembangkan minatnya. Sehingga keterampilan yang mereka miliki dapat terus tersalurkan dan dikembangkan lebih baik dan positif.' :
  (index == 2) ? 
    'Peningkatan wawasan serta kualitas mahasiswa TI kegiatan ini bertujuan meningkatkan kemampuan, kualitas, dan kreativitas mahasiswa di bidang IT meliputi bidang perangkat keras, pengembangan SI, kemampuan di bidang jaringan pengembangan game dan Multimedia' :
  (index == 3) ? 
    'Peningkatan Technopreneur bagi mahasiswa TI, kegiatan ini bertujuan meningkatkan dan menguatkan jiwa wirausaha mahasiswa dalam pengembangan produk technopreneur (expo dan pameran) serta mengembangkan inovasi dan kualitas produk technopreneur melalui Seminar, pelatihan dan riset.' :
  (index == 4) ? 
    'Mengenaluaskan HMJ TI, kegiatan ini bertujuan meningkatkan jaringan organisasi dalam bentuk jaringan internal dan jaringan kerjasama dengan organisasi dan lembaga eksternal.' :
    'Peningkatan kualitas organisasi bertujuan meningkatkan partisipasi mahasiswa dalam bentuk keikutsertaan dalam open recruitment kepanitiaan kegiatan (kaderisasi) dan penguatan kaderisasi pengurus HMJ-TI dan adanya peningkatan penerapan teknologi terhadap kesejahteraan peningkatan kesejahteraan masyarakat yang berupa bakti sosial dan Program Hibah Bina Desa yang diterapkan dalam bentuk kampung batik dengan menggunakan teknologi IT'
%>">
        <img src="<%= icon %>" alt="icon" />
        <h4><%= deskripsi %></h4>
      </div>
      <% } %>
    </div>
  </div>
</section>
<section id="kalender-kegiatan">
  <div class="container-fluid">
    <header class="header">
      <h2>Kalender Kegiatan</h2>
    </header>

    <main class="content">
      <div class="image-section">
        <img src="/img/schedule/kegiatan1.png" alt="Students in training session" />
      </div>

      <div class="schedule-section">
        <div class="schedule-cards">
          <div class="cards-container">
            <% events.forEach(event=> { %>
            <div class="schedule-card">
              <div class="date">
                <span> <%= event.formatted_date %> </span>
                <%= event.tahun %>
              </div>
              <div class="event-title"><%= event.judul %></div>
            </div>
            <% }); %>
          </div>
        </div>

        <div class="pagination"></div>
      </div>
    </main>
  </div>
</section>
<script>
  // Initialize array of event images
  window.EVENT_IMAGES = ["/img/schedule/kegiatan1.png", "/img/schedule/kegiatan2.png", "/img/schedule/kegiatan3.png", "/img/schedule/kegiatan4.png"];
</script>
